<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="M3Pro_gazebo_planar_move" params="">
    <gazebo>
      <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
        <left_joint>lwheel1_Joint</left_joint>
        <left_joint>lwheel2_Joint</left_joint>
        <right_joint>rwheel1_Joint</right_joint>
        <right_joint>rwheel2_Joint</right_joint>
        <wheel_separation>0.293</wheel_separation>
        <wheel_radius>0.04</wheel_radius>
        <odom_publish_frequency>50</odom_publish_frequency>
        <topic>cmd_vel</topic>
        <odom_topic>odom</odom_topic>
        <tf_topic>tf</tf_topic>
        <frame_id>odom</frame_id>
        <child_frame_id>base_footprint</child_frame_id>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
