<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="M3Pro_gazebo_ros2_control" params="">
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find yahboom_M3Pro_description)/config/mecanum_drive_controller.yaml</parameters>
        <ros>
          <remapping>mecanum_drive_controller/reference_unstamped:=cmd_vel</remapping>
          <remapping>mecanum_drive_controller/odometry:=odom</remapping>
        </ros>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>